body{
  background-image: url("3.jpg");
  background-size: 1620px 960px;

}
  
#frm
{
  font-size:90%;
   width:20%;
   border-radius:5px;
   margin:100px auto;
 
  padding:50px;
}
#btn

{color:#fff;
background:#337ab7;
padding:5px;
margin-left:69%;
}
